:root {
  font-family: system-ui, 'Segoe UI', Roboto, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background: #f8fafc;
  color: #2d3748;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}
